.custom-container {
    box-sizing: border-box;
    color: #F0F2F5;
    display: flex;
    flex-direction: column;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    justify-content: center;
    margin: 0;
    padding: 32px 0 0;
    position: relative;
    text-align: left;
    z-index: 1;
}

.inner-container {
    align-self: center;
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 57px;
    position: relative;
    text-align: left;
}

.custom-span {
    animation: custom-span-animation 2s both;
    background-color: #59D990;
    border-radius: 50%;
    box-sizing: inherit;
    color: #F0F2F5;
    display: block;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 4px;
    left: -3px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 4px;
}

@keyframes custom-span-animation {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: .5;
        transform: translateZ(0);
    }
}

.custom-span:nth-of-type(2) {
    height: 7px;
    left: 35px;
    top: 2px;
    width: 7px;
}

.custom-span:nth-of-type(3) {
    animation-delay: .2s;
    left: 3px;
    top: 18px;
}

.custom-span:nth-of-type(4) {
    animation-delay: .2s;
    left: -18px;
    top: 24px;
}

.custom-span:nth-of-type(5) {
    animation-delay: .2s;
    height: 9px;
    left: 65px;
    top: 20px;
    width: 9px;
}

.custom-span:nth-of-type(6) {
    animation-delay: .4s;
    height: 9px;
    left: 14px;
    top: 35px;
    width: 9px;
}

.custom-span:nth-of-type(7) {
    animation-delay: .2s;
    height: 5px;
    left: 56px;
    top: 45px;
    width: 5px;
}

.custom-span:nth-of-type(8) {
    animation-delay: .4s;
    height: 5px;
    left: -2px;
    top: 54px;
    width: 5px;
}

.custom-svg {
    align-self: center;
    animation: custom-svg-animation 1s both;
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 60px;
    text-align: left;
    width: 60px;
}

@keyframes custom-svg-animation {
    0%, to {
        transform: scaleX(1);
    }

    40% {
        transform: scale3d(1.08, 1.08, 1.08);
    }
}

.custom-svg g {
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
}

.custom-svg g path {
    box-sizing: border-box;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
}

.custom-svg g polyline {
    animation: custom-polyline-animation .3s ease-out .3s forwards;
    animation-range-end: normal;
    animation-range-start: normal;
    animation-timeline: auto;
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    stroke-dasharray: 36;
    stroke-dashoffset: 36;
    text-align: left;
}

@keyframes custom-polyline-animation {
    to {
        stroke-dashoffset: 0;
    }
}

.custom-heading {
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin: 16px 0 0;
    text-align: center;
}

@media (min-width: 700px) {
    .custom-heading {
        font-size: 24px;
    }
}

.custom-subheading {
    box-sizing: inherit;
    color: #F0F2F5;
    font-family: roobert, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, bitrefill, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.4;
    margin: 4px 32px;
    text-align: center;
}

@media (min-width: 700px) {
    .custom-subheading {
        margin: 4px 32px;
    }
}